{% extends "base.html" %}
{% block main %}

<div class="contentWrapper">
    <h5>Oops...</h5>
    <h2>The page you are looking for doesn't exist</h2>
    <a class="greenBtn" href="/">Go Home</a>
</div>

{% endblock %}
