{% extends "base.html" %}
{% block main %}

<div class="contentWrapper">
    <h5>Oops...</h5>
    <h2>Something went terribly wrong. Contact support@jpegmini.com</h2>
    <a class="greenBtn" href="/">Go Home</a>
</div>

{% endblock %}
