{% extends "base.html" %}
{% block main %}

<h1>JEPGmini for AWS - REST API</h1>

<p>
JPEGmini REST API provides methods to optimize jpeg images.
</p>

<h2>Optimize method</h2>
<p>
Method: POST<br />
URL: http://your_server/api/optimize<br />
Body: The data of the source jpeg photo<br />
Optional Parameters:<br />
<ul>
<li>scale - scale factor between 0 and 1</li>
<li>width - target width (in pixels)</li>
<li>height - target height (in pixels)</li>
</ul>

<h3>Usage notes</h3>
<ul>
<li>If no parameters are provided, the image size will be maintained (scale=1.0)</li>
<li>You cannot pass both scale and (width or height)</li>
<li>If only width, or only height are provided, the original aspect ration is maintained</li>
</ul>

<h3>CURL example</h3>
<pre>
curl -X POST -H 'Content-Type: image/jpeg' \
    --data-binary @/tmp/input.jpg --output /tmp/output.jpg \ 
    http://my-aws-public-dns-name/api/optimize
</pre>

<ul>
<li>-X POST - specify http POST method</li>
<li>-H 'Content-Type: image/jpeg' - specify body content is a jpeg</li>
<li>--data-binary @/tmp/input.jpg - send /tmp/input.jpg as the data of the request</li>
<li>--output /tmp/output.jpg - store response in /tmp/output.jpg (instead of stdout)</li>
<li>http://host/api/optimize - the request url (replace host with your instance's ip or dns name)</li>
</ul>

<h3>Python example</h3>
<pre>
import requests

with open('/tmp/input.jpg') as src: 
  with open('/tmp/output.jpg', 'wb') as dst:
    response = requests.post(url="http://host/api/optimize", data=src)
    dst.write(response.content)
</pre>

<h2>Proxy method</h2>
<p>
Method: GET<br />
URL: http://your_server/api/proxy<br />
Query parameters:<br />
<ul>
<li>url - url to the source image</li>
</ul>

<h3>Usage notes</h3>
<ul>
<li>This method caches results in ElasticCache (memcache / redis) if configured</li>
<li>The returned http response will include the following headers:
  <ul>
    <li>x-jpegmini-src - size of original image</li>
    <li>x-jpegmini-mini - size of optimized image</li>
    <li>x-jpegmini-reduced - number of bytes saved</li>
    <li>x-jpegmini-reduced_p - percent of bytes saved</li>
    <li>x-jpegmini-hit - true if result is returned from cache</li>
    <li>x-jpegmini-error - jpegmini error (in case of error)</li>
  </ul>
</li>
</ul>

<h3>CURL example</h3>
<pre>
curl -v -X GET --output /tmp/output.jpg \ 
    http://my-aws-public-dns-name/api/proxy?url=http://media.jpegmini.com/homepageImages/20130521/preview_PhotKing.jpg
</pre>

<ul>
<li>-v - verbose (in order to see headers)</li>
<li>-X GET - specify http GET method</li>
<li>--output /tmp/output.jpg - store response in /tmp/output.jpg (instead of stdout)</li>
<li>http://host/api/proxy - the request url (replace host with your instance's ip or dns name)</li>
<li>?url=http://media.jpegmini.com/homepageImages/20130521/preview_PhotKing.jpg - the url of the image to optimize</li>
</ul>

<h3>Python example</h3>
<pre>
import requests

with open('/tmp/output.jpg', 'wb') as dst:
  response = requests.get(url="http://host/api/proxy?url=http://media.jpegmini.com/homepageImages/20130521/preview_PhotKing.jpg")
  print response.headers
  dst.write(response.content)
</pre>

{% endblock %}
