<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}JPEGmini for AWS - REST API{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}/css/style.less" />
    <script src="{{STATIC_URL}}/js/less-1.3.3.min.js" type="text/javascript"></script>
    {% block extra_css %}
    {% endblock %}
    <link rel="shortcut icon" href="/img/favicon.gif">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans:bold|Open+Sans:600|Open+Sans:300">
  </head>

  <body>
    <header>
      <div id="header">
          <div id="logo"><a href='http://www.jpegmini.com/' title="jpegmini.com"></a></div>
      </div>
    </header>
    <div id=content>
        <h1>JPEGmini for AWS</h1>

        <a class="homeTab" href="/">Home</a>
        <a class="homeTab" href="/docs">Documentation</a>
        <a class="homeTab" href="/settings">Settings</a>

        <a class="supportBtn" href="mailto:support@jpegmini.com"><span class="icon"></span>Support</a>
        <a class="notification" href="/settings">Your server is not registered</a>

        {% block main %}
        {% endblock %}
    </div>
    <script src="{{STATIC_URL}}/js/jquery-2.0.0.min.js"></script>
    {% block body_scripts %}
    {% endblock %}
  </body>
</html>

