{% extends "doc_template.html" %}
{% block doc_content %}
<h1 xmlns="http://www.w3.org/1999/html">JPEGmini Command-Line Options</h1>
<div class="cleanList">
    <p>The jpegmini application supports the following command line options: </p>
        <ul>
            <li><b>-help:</b> Displays usage instructions. Any other flags used in combination with –help will be
ignored.</li>
            <li><b>-f</b>: Specifies the input JPEG file name or folder name which will be processed by jpegmini.
                <ul>
                    <li>-f=&lt;file name&gt;: Specifies an input JPEG file name (jpegmini will process only the
                        specified input JPEG file).</li>
                    <li>-f=&ltfolder path&gt;: Specifies the input JPEG folder name (jpegmini will process all the
                        JPEG files in the specified folder).</li>
                </ul>
            </li>

            <li><b>-r:</b> Specifies whether to recursively process all subfolders in a specified folder (relevant only
when using the <nobr>-f=&lt;folder path&gt;</nobr> command line option to specify an input folder name).
                <ul>
                    <li>-r=1: Recursively process all subfolders in the specified folder [default].</li>
                    <li>-r=0: Process the specified folder only, without its subfolders.</li>
                </ul>
            </li>
            <li><b>-o:</b> Specifies the file name or folder name for the output images. When this flag is not used, by
default the output file names are the same as the input file names with the postfix "_mini", and
they are placed in the same folder as the input files.
                <ul>
<li>-o=&lt;file name&gt;: Specifies the name for the output JPEG file (relevant only when using the
-f=&lt;file name&gt; command line option to specify an input file name).</li>
<li>-o=&lt;folder path&gt;: Specifies the folder in which the output JPEG files will be placed</li>
                </ul>
            </li>
            <li><b>-logfile=&lt;file name&gt;:</b> Specifies the destination file for writing the jpegmini log
information printouts (See the “Application Printouts” section below). If this flag is not
specified, by default jpegmini sends the log information printouts to the console.</li>
            <li><b>-lvl:</b> Specifies the level of log information that jpegmini will print to the console or to the
specified log file (in case the -logfile=&lt;file name&gt; command line option was used).
                <ul>
                    <li>-lvl=0: No logs.</li>
                    <li>-lvl=1: Basic log level [default].</li>
                    <li>-lvl=2: Advanced log level</li>
                </ul>
            </li>
            <li><b>-csvfile:</b> Specifies the destination file for writing a summary of
processing results in CSV format. The processing summary file is written in addition to the log
information output.
The processing summary file includes 5 fields for each processed file:
                <ul>
                    <li>filein: Name of input file</li>
                    <li>filout: Name of output file</li>
                    <li>sizein: Size of input file in bytes</li>
                    <li>sizeout: Size of output file in bytes</li>
                    <li>err: Error code in HEX (0x0 for success)</li>
                </ul>
            </li>
            <li><b>-rsz:</b> Resize the image before recompression
                <ul>
                    <li>-rsz=&lt;x&gt;: Resize the image to x% of the original width and height, preserving the aspect
ratio. The value of x is from 1 to 99.</li>
                    <li>-rsz=width x height: Resize the image to width x height pixels, without preserving the
aspect ratio. width and height must be smaller than the original image’s width and height.</li>
                </ul>
            </li>
            <li><b>-qual:</b> Specifies the quality of the output JPEG image.
                <ul>
                    <li>-qual=0: Best Quality [default]. Produces an output image that is perceptually identical to
the input image.</li>
                    <li>-qual=1: High Quality. Produces an image with a higher compression ratio than “Best
Quality”, which still has a high quality, and provides a good tradeoff between quality and file
size.</li>
                    <li>-qual=2: Medium Quality. Provides the highest compression level (smallest file size) at the
expense of image quality.</li>
                </ul>
            </li>
            <li><b>-shc:</b> Specifies whether to skip highly compressed images. When this flag is turned on, the
application analyzes the input image to determine if it has already undergone heavy compression.
If this is the case, the input file will be copied to the output without applying JPEGmini
processing. The purpose of this option is to prevent the overhead of processing input files for
which JPEGmini cannot provide a significant additional compression gain.
                <ul>
                    <li>-shc=0: Don’t skip highly compressed images.</li>
                    <li>-shc=1: Skip highly compressed images [default].</li>
                </ul>
            </li>
            <li><b>-rmt:</b> Specifies whether to remove metadata from the JPEG image. Removing metadata deletes
the auxiliary information associated with the JPEG image, such as date, location, camera model,
etc. Removing metadata can further reduce the output file size, especially for small input files.
                <ul>
                    <li>-rmt=0: Don’t remove metadata from the JPEG file [default].</li>
                    <li>-rmt=1: Remove metadata from the JPEG file.</li>
                </ul>
            </li>
        </ul>
    </p>
</div>
{% endblock %}