{% extends "doc_template.html" %}
{% block doc_content %}
    <h1>JPEGmini Command-Line</h1>
    <h3>Operating Instructions</h3>
    <h2>General</h2>
    <p>The JPEGmini Photo Server application takes a JPEG file as input, and outputs a smaller JPEG
file with the extension “_mini.jpg”. The application can also be used on a folder of photos.
When processing is finished, the application reports the sizes of the original and re-compressed
photos, and the reduction factor achieved.
</p>

    <h2>Supported Formats</h2>
    <p>The JPEGmini Photo Server supports input files in standard JPEG format. Supported resolutions
are from 32x32 pixels up to 60 Megapixels. JPEGmini supports YCbCr and Monochrome color spaces. Other color spaces such as YCbCrK, CMYK, etc. are not supported.</p>

    <h2>Typical Usage</h2>
        <p>Typical usage only requires specifying the input file name:
        <pre>jpegmini –f=test.jpg</pre>
        The output in this case will be the file test_mini.jpg.
The application can also be executed on a complete folder, for example: </p>
        <pre>jpegmini –f=User/TestImages</pre>
        In this case, all files in the folder User/TestImages will be processed by jpegmini.</p>

        <p>For more details on using the JPEGmini command line application, see the <a href="/docs/cmd/ref">command line reference</a>.</p>

{% endblock %}
