{% extends "base.html" %}
{% block main %}
<div class="contentWrapper">
    <ul class='menu'>
        <li>JPEGmini for AWS
            <a id="overview" href="/docs/overview">Introduction</a>
        </li>
        <li>Command line
            <a id="cmd_overview" href="/docs/cmd/overview">Overview</a>
            <a id="cmd_ref" href="/docs/cmd/ref">Reference</a>
        </li>
        <li>REST API
            <a id="resto" href="/docs/rest/overview">Overview</a>
            <a id="restr" href="/docs/rest/ref">Reference</a>
        </li>
        <li>Tutorials
            <a id="start" href="/docs/tutorials/start">T1: Getting Started...</a>
            <a id="s3" href="/docs/tutorials/s3">T2: Using with S3...</a>
        </li>
    </ul>
    <div class="docContent">
        {% block doc_content %}
        {% endblock %}
    </div>
    <div style="clear: both;"></div>
</div>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript">
    $('.homeTab:nth-child(3)').addClass('active')
    $(function() {
        var selTabId = '{{ PAGE_ID }}' || 'none';
        $('#'+selTabId).addClass('active');
    })
</script>
{% endblock %}
