{% extends "doc_template.html" %}
{% block doc_content %}
    <h1>Tutorial 1: Getting started with JPEGmini for AWS</h1>
    <h3>Deploy a JPEGmini Server and Optimize Your Photos in 5 Simple Steps</h3>
    <h2>Overview</h2>
    <p>In this tutorial, you will learn how to launch a JPEGmini Photo Server running on the Amazon Web Services (AWS) cloud infrastructure in 5 simple steps. This tutorial covers all the steps required for creating and launching a JPEGmini server instance on AWS, and optimizing photos stored on your computer.</p>

    <h2>The 5 Simple Steps:</h2>
    <ol>
        <li><a href="#step1">Sign up for an AWS account if you don’t already have one (there is no charge for opening an AWS account)</a></li>
        <li><a href="#step2">Launch your JPEGmini Photo Server from the AWS Marketplace</a></li>
        <li><a href="#step3">Connect to your running instance and run the JPEGmini Photo Server</a></li>
        <li><a href="#step4">Upload photos to your instance</a></li>
        <li><a href="#step5">Optimize your photos</a></li>
    </ol>

    <h3 id="step1">Step 1. Sign up for an AWS account</h3>
    <p>If you already have an AWS account, skip to the next step. If you don't already have an AWS account, use the following procedure to create one.</p>
    <p>To create an AWS account, go to <a href="http://aws.amazon.com" target="_blank">http://aws.amazon.com</a>, and click “Sign Up Now”. Follow the onscreen instructions to sign up. Part of the process involves receiving a phone call and entering a PIN using the phone keypad. ></p>
    <p>Note that when you create an AWS account, AWS automatically signs up the account for all AWS services, including Amazon EC2. However, you will only be charged for the services that you actually use.</p>

    <h3 id="step2">Step 2. Launch your JPEGmini Photo Server from the AWS Marketplace</h3>
    <p>The JPEGmini Photo Server is available on the AWS Marketplace as a pre-configured Amazon Machine Image (AMI). To launch your server, go to the <a href="https://aws.amazon.com/marketplace/pp/B00AR2FEAW" target="_blank">JPEGmini Photo Server for AWS</a> page. Make sure you are logged in with your AWS account.</p>

    <img src='http://s3.amazonaws.com/jpegminimedia/images/aws_v1/JPEGmini-Photo-Server-on-AWS-Marketplace.png' />

    <p>Click on the “Continue” button to proceed to the launch page. Before launching the JPEGmini Photo Server, you will need to select an EC2 Instance Type. In this tutorial we will use the Standard Small (m1.small) instance.</p>
    <p>If this is your first time running an EC2 instance, you will need to create a Key Pair. The Key Pair is used to authenticate you when logging on to the EC2 server. If you already have a key-pair, select it in the key-pair section of the form, and skip to the next step.</p>
    <p>In a separate browser tab, open the EC2 Console and switch to the Key Pairs tab.</p>

    <img src='http://s3.amazonaws.com/jpegminimedia/images/aws_v1/AWS-Management-Console-no-keys.png' />

    <p>Click on “Create Key Pair”, set the name to “jpegmini-server-key”, and click “Create”. Your browser will download the private keyfile named jpegmini-server-key.pem, and a key-pair will show up in the ec2 web-console.</p>

    <img src='http://s3.amazonaws.com/jpegminimedia/images/aws_v1/EC2-Management-Console-with-keypair.png' />
    <p>Now go back to the Marketplace browser tab, and refresh the page. Make sure your jpegmini-server-key is selected in the Key Pair section.</p>

    <p>Launch the server by clicking “Accept Terms & Launch with 1-Click” It may take a few minutes for the server to launch - make sure not to leave the page until it launches.</p>
    <p>If you get a dialog indicating that the subscription is taking longer than expected, don’t worry. You will probably receive a confirmation email within a few minutes. After receiving the confirmation email, go back to the <a href="https://aws.amazon.com/marketplace/pp/B00AR2FEAW" target="_blank">JPEGmini Photo Server for AWS</a> page, and click on “Launch with 1-Click”.  This time it should deploy faster, since you are already subscribed to the JPEGmini Photo Server.</p>
    <p>If all went well, you should see a page indicating that JPEGmini Photo Server is now deploying on EC2.</p>

    <img src='http://s3.amazonaws.com/jpegminimedia/images/aws_v1/marketplace-deployment-in-progress.png' />
    <img src='http://s3.amazonaws.com/jpegminimedia/images/aws_v1/AWS-Marketplace---instance-deployed.png' />

    <h3 id="step3">Step 3. Connect to your running instance and run the JPEGmini Photo Server</h3>
    <p>Go the <a href="https://console.aws.amazon.com/">AWS console</a> instances tab, select your instance, and copy the instance’s Public DNS to your clipboard.</p>

    <img src='http://s3.amazonaws.com/jpegminimedia/images/aws_v1/AWS-Management-Console-Home-running-instance.png' />

    <p>Connect to your instance using an SSH (Secure Shell) terminal:</p>
    <p>
    <strong>On Mac or Linux:</strong>
    <ol>
        <li>Open a terminal window</li>
        <li>Secure your key, by entering the following command:<br/><br/>
            <pre>chmod 600 ~/Downloads/jpegmini-server-key.pem</pre>
            <div class="note">Note:<br/>
            * The command above assumes your private key file is saved in the Downloads folder</div>
        </li>
        <li>Connect to the JPEGmini Photo Server instance with the following command.  When connecting for the first time, your computer will alert that the authenticity of the host cannot be established, and ask you if you want to continue connecting - just answer Yes.
            <pre>ssh -i ~/Downloads/jpegmini-server-key.pem ec2-user@public-dns-name-here</pre>
            <div class="note">Notes:<br/>
            * The command above assumes your private key file is saved in the Downloads folder<br/>
            * Use the public dns name previously copied from the AWS console</div>
        </li>
    </ol>
    </p>
    <p><strong>On Windows:</strong></p>
    <p>Windows doesn’t support SSH natively, so you should use a free program called PuTTY. Download PuTTY and PuTTYgen from the <a href="http://www.chiark.greenend.org.uk/~sgtatham/putty/download.html">PuTTY Download Page</a></p>
    <p>Once connected to your instance, you can use Linux shell commands to control the server. To run JPEGmini on the sample photos included with the server, execute the following command:</p>
    <pre>jpegmini -f=Demo1</pre>
    <p>The output should look like this:</p>

        <p>output here</p>

    <p>The above command ran the JPEGmini Photo Server and compressed the photo in the folder “Demo1”.  The console output shows that the file size of the photo was reduced by 72%.</p>
    <p>Use the ls command to list the files in the folder “Demo1”:</p>
    <pre>ls -l Demo1</pre>
    <p>The output should look like this:</p>

        <p>output here</p>

    <p>Note the smaller file size of hipnshoot_mini.jpg, which is the result of the optimization.</p>

    <h3 id="step4">Step 4. Upload photos to your server</h3>
    <p>In order to optimize your photos, you need to transfer them to the running instance of the JPEGmini sever on AWS. The best method to do so depends on the location of your photos (stored on s3, stored on ebs volumes, on premise, etc.). In this tutorial we will use the free <a href="http://filezilla-project.org/download.php">FileZilla SFTP Client</a> to copy files from your computer to the server or from the server to your computer.</p>
    <p>
    <strong>Setting up FileZilla:</strong>
    <ol>
        <li>Download and install FileZilla to your computer.</li>
        <li>Import the private key file by clicking on “Preferences” in the menu, switching to the SFTP tab (left), and clicking on “Add Keyfile”, and selecting your jepgmini-server-key.pem file<br/>
            <img src='http://s3.amazonaws.com/jpegminimedia/images/aws_v1/filezilla_import_key.png' />
        </li>
        <li>FileZilla will ask  you to convert the .pem file into a supported file format. Click “Yes”, save it as jpegmini-server-key.ppk and click ok</li>
        <li>At the top of the window, just below the toolbar, enter the following hostname, username, and port and click “Quickconnect”:<br/>
            <strong>hostname:</strong> your public dns name copied from AWS console<br/>
            <strong>username:</strong> ec2-user<br/>
            <strong>Port:</strong> 22<br/>
            <strong>Password:</strong> [Leave this field empty]
        </li>
    </ol>
    </p>

    <p>After clicking “Quickconnect”, FileZilla will show a dialog indicating the host could not be authenticated. Click “OK”.</p>
    <p>Once connected you will see the server’s filesystem on the right side of the window, and your local computer's file system on the left side of the window. You can copy files from one side to another by dragging them.</p>
    <p>In the middle-right window, right click on the ec2-user directory, select “Create directory” and create a new directory called photos. Click on photos to select it, and note the bottom right window indicating it is empty.</p>
    <p>Copy over a couple of JPEG photos from your computer to the photos folder by dragging them onto the photos folder. On Mac computers, you can drag photos directly from within the Finder or iPhoto. On Windows, you can drag them directly from within the File Explorer. Wait for the photos to upload, and make sure you can see them inside the photos directory on the server’s filesystem (right side).</p>

    <h3 id="step5">Step 5. Optimize your photos</h3>
    <p>You are now ready to optimize the photos you have uploaded in Step 4. Switch back to the Terminal window used in Step 3, use the ls command to list the files and folders, and make sure you see the photos directory you created in Step 4.</p>
    <p>Run JPEGmini Photo Server with the following command to optimize all JPEG files in the photos directory:</p>
    <pre>jpegmini -f=photos</pre>
    <p>
    Finally, use FileZilla to copy the optimized jpeg photos back to your computer as follows:
    <ol>
        <li>Return to the FileZilla application</li>
        <li>Press F5 to refresh the file listing</li>
        <li>On the remote server (right side) select the photos folder (/home/ec2-user/photos)</li>
        <li>On the local server (left side) select your Dekstop (/Users/username/Desktop)</li>
        <li>Right click on the files with _mini suffix in the right window, and select Download. After downloading is completed, the optimized photos will be on your desktop.</li>
    </ol>
    </p>

    <p>Congratulations!<br/>
    If you made it here, you have successfully optimized your photos.
    </p>

    <p>
    What next?
    <ol>
        <li>To save $$$, don’t forget to stop or terminate your instance when you are not using it.</li>
        <li>Learn more about running jpegmini by running jpegmini -help on the server or reading the jpegmini manual</li>
        <li>Check out some additional tutorials available <a href="/docs/tutorials/s3">here</a></li>
    </ol>
    </p>


{% endblock %}
