{% extends "base.html" %}
{% block main %}

<div class="contentWrapper">
    <h2>Last Session</h2>
    <div class="session">
        <span class="content">{{ TOTAL_PHOTOS }}</span> <br/>
        TOTAL PHOTOS PROCESSED
    </div>
    <div class="session">
        <span class="content">{{ TOTAL_SAVING }}</span> <br/>
        TOTAL SAVINGS
    </div>

    <h2>Server Details</h2>
    <ul class="details">
        <li class="public">
            Public Address <br/>
            <span class="content">n/a</span>
        </li>
        <li class="type">
            Instance Type <br/>
            <span class="content">n/a</span>
        </li>
        <li class="ver core">
            JPEGmini Core Version <br/>
            <span class="content">n/a</span>
        </li>
        <li class="ver api">
            JPEGmini API Version <br/>
            <span class="content">n/a</span>
        </li>
        <li class="id">
            Instance Id <br/>
            <span class="content">n/a</span>
        </li>
        <li class="uptime">
            Server Uptime <br/>
            <span class="content">n/a</span>
        </li>
        <li class="cache">
            Cache Status <br/>
            <span class="content">n/a</span>
        </li>
    </ul>
</div>

{% endblock %}

{% block body_scripts %}
<script type="text/javascript">
    $('a.homeTab:nth-child(2)').addClass('active');
    $(function() {
        $.getJSON('/api/v1/info', function(data) {
            setLastSessionValues(data.total_photos, data.total_saving);
            $('li.public .content').text(data.status['public-hostname']);
            $('li.type .content').text(data.status['instance-type']);
            $('li.ver.core .content').text(data.jpegmini.core.version + ' (Latest ' + data.jpegmini.core.latest_version + ')');
            $('li.ver.api .content').text(data.jpegmini.api.version + ' (Latest ' + data.jpegmini.api.latest_version + ')');
            $('li.id .content').text(data.status['instance-id']);
            $('li.uptime .content').text(data.status.uptime_human);
            if (data.restart_required == "True" ) {
                $('.notification').addClass('red').text('Server restart required').fadeIn();
            }else if (data.jpegmini.update_available){
                $('.notification').removeClass('red').text('JPEGmini update available').fadeIn();
            }else if (!data.config.name || !data.config.email) {
                $('.notification').addClass('red').text('Your server is not registered').fadeIn();
            }
            if (data.cache.backend == 'Disabled' || data.cache.backend == 'disabled') {
                $('li.cache .content').text('Disabled');
            } else if (data.cache.backend == 'Redis' || data.cache.backend == 'redis') {
                if (data.cache.stats) {
                    $('li.cache .content').text('Redis ' + data.cache.stats.redis_version + ', ' + data.cache.stats.used_memory_human);
                } else {
                    $('li.cache .content').text('Error connecting to Redis server');
                } 
            } else if (data.cache.backend == 'Memcached' || data.cache.backend == 'memcached') {
                if (data.cache.stats.length) {
                    $('li.cache .content').text('Memcache ' + data.cache.stats[0][1].version + ', ' + data.cache.stats[0][1].hash_bytes);

                } else {
                    $('li.cache .content').text('Error connecting to Memcached server');
                }
            }
        });

        setInterval(function() {
            $.getJSON('/api/v1/info/lite', function(data) {
                setLastSessionValues(data.total_photos, data.total_saving);
                $('li.uptime .content').text(data.uptime_human);
            })
        }, 3300)

        function setLastSessionValues (totalPhotos, totalSaving) {
            var tpVal = numberWithCommas(totalPhotos);
            var tpElm = $($('.session').get(0)).find('.content');
            if (tpVal.length > 9) tpElm.css('font-size', '55px');
            tpElm.text(tpVal)

            $($('.session').get(1)).find('.content').text(bytesToSize(totalSaving));
        }

        function numberWithCommas(x) {
            if (!x || x == 'null') return 0;
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function bytesToSize(bytes) {
            var sizes = ['B', 'KB', 'MB', 'GB', 'TB'];
            if (!bytes || bytes == 'null') return 0;
            var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
            return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];
        }
    })
</script>
{% endblock %}
