{% extends "doc_template.html" %}
{% block doc_content %}
    <h1>JPEGmini for AWS</h1>
    <h2>Introduction</h2>
    <p>
        JPEGmini is a photo optimization technology that reduces the file size of photos while retaining their original resolution
and quality. Using JPEGmini on you users’ photos can significantly reduce your storage and delivery costs, while using it
on any web image can reduce page load time, providing a better user experience.
    </p>

    <p>JPEGmini is available pre-installed on this Amazon EC2 instance, and may be activated in one of two modes:
        <ul>
            <li>Command-line</li>
            <li>REST API</li>
        </ul>
    </p>

    <h2>Command-line Mode</h2>
    <p>
    A JPEGmini command line tool is pre-installed, so you can utilize it without writing any code, or automate its execution using scripts. The
application takes a JPEG file as input, and outputs a smaller JPEG file which has the same quality and resolution as the
input JPEG.
    <p>

    <p>
    The application can also be executed on a folder of JPEG files, and recursively scans sub-folders to process all JPEG files
that are present under the parent folder. When processing is finished, the application reports the sizes of the original
and re-compressed photos, and the reduction factor achieved.
    </p>

    <p>
     For further details see the <a href="/docs/cmd/overview">Commnad-line overview</a>
        and <a href="/docs/cmd/ref">Command-line reference</a> sections.
    </p>

    <h2>API mode</h2>
    <p>This AWS server also provides a simple REST API which enables sending and receiving photos to and from
    from your instance using HTTP requests. For further details see the <a href="/docs/rest/overview">API overview</a>
        and <a href="/docs/rest/ref">API reference</a> sections.</p>

    <h2>Security</h2>
    To secure your server, it is recommended to use an <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html" target="_blank">EC2 Security Group</a>,
        and limit access to your server based on IP filtering.

    <h2>Support</h2>
    If you have any questions about using the JPEGmini Photo Server, please contact us at support@jpegmini.com.
{% endblock %}
