{% extends "doc_template.html" %}
{% block doc_content %}
    <h1>REST API Overview</h1>

    <p>
    The JPEGmini REST API provides programmatic access to the JPEGmini Photo Server, enabling you to automate your
    image optimization tasks. This server is pre-installed with a web service that supports
    the REST API with two methods: Optimize, and Proxy</p>

    <h2>Optimize</h2>
    <p>Used for optimizing images that are provided by the user in an HTTP POST method. This method is
commonly used when you upload new images to your CDN, and want them to be optimized for fast delivery.</p>

    <h2>Proxy</h2>
    <p>Used for optimizing images taken from a URL, and caching the output. This method is commonly used
when you have a website with existing images, and want to optimize them upon first delivery, and then cache
the optimized images for subsequent deliveries.</p>

    <p>Full reference details of each method and code examples are available in the
    <a href="/docs/rest/ref">API reference</a> section.</p>

{% endblock %}