{% extends "base.html" %}
{% block main %}
<div class="contentWrapper">
    <div id="statusLabel" class="error">Please fill all missing fields</div>
    <h2>REGISTRATION DETAILS <span class="detailsIcon"></span> <span class="tip">Register for support and newsletters</span> </h2>
    <input type="text" id="name" name="name" value="{{ NAME }}" placeholder="Full Name"/>
    <br/><br/>
    <input type="email" id="email" name="email" value="{{ EMAIL }}" placeholder="Email"/>

<!--
    This method of password protection is not secure, and not recommended!
    Instead use a firewall, or implement using nginx's digest plugin

    <h2>ADMIN PASSWORD   <span class="tip">When field is empty, you dont have a password</span></h2>
    <input type="password" id="pass" name="pass" value="{{ PASS }}" maxlength=20/>
-->

    <h2>CACHE ENGINE</h2>
    <div style="display: inline-block;">
        <select id="cache_engine" class="select" name="cache_engine">
            <option name="" value="Redis" selected> Redis </option>
            <option name="" value="Memcached" selected> Memcached </option>
            <option name="" value="Disabled" selected="selected"> Disabled </option>
        </select>
    </div>
    <br/>
    <div id="memcached_set" style="display: none;">
        <h2>END POINT</h2>
        <input type="text" id="end_point" name="end_point" class="required" value="{{ END_POINT }}"/>
    </div>
    <div id="redis_set" style="display: none;">
        <h2>HOST / END POINT</h2>
        <input type="text" id="host" name="host" value="{{ HOST }}" class="required" placeholder="Host name"/>
        <h2>PORT</h2>
        <input type="text" id="port" name="port" value="{{ PORT }}" class="required" placeholder="Port number"/>
        <h2>DATABASE ID</h2>
        <input type="text" id="dbid" name="dbid" value="{{ DBID }}" class="required" placeholder="Database ID"/>
        <h2>PASSWORD</h2>
        <input type="text" id="rpass" name="rpass" value="{{ RPASS }}" placeholder="Type your password"/>
    </div>
    <h2>Metrics</h2>
    <input type="checkbox" id="enable_cloudwatch" name="enable_cloudwatch" /><span id="enable_cloudwatch_text">Enable CloudWatch metrics</span><br />
    <button class="greenBtn disabled">UPDATE</button>
    <button class="orangeBtn">RESTART SERVER</button>
    <button class="purpleBtn">UPDATE JPEGMINI</button>
</div>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript">
    $('.homeTab:nth-child(4)').addClass('active')
    $(function() {
        var confData = {};
        $.getJSON('/api/v1/config', function(data) {
            confData = data;
            if (confData.name) $('#name').val(confData.name)
            if (confData.email) $('#email').val(confData.email)
            if (confData.enable_cloudwatch == "True" || confData.enable_cloudwatch == "true") {
               $("#enable_cloudwatch").prop("checked", true);
            } else {
               $("#enable_cloudwatch").prop("checked", false);
            }
            if (confData.restart_required == "True" || confData.restart_required == "true") {
                $('.notification').addClass('red').text('Server restart required').fadeIn();
                $('.orangeBtn').fadeIn();
            }else if (confData.update_available) {
                $('.notification').removeClass('red').text('JPEGmini update available').fadeIn();
                $('.purpleBtn').fadeIn();
            }else if (!confData.name || !confData.email) {
                $('.notification').text('Your server is not registered').fadeIn();
                $('#name').addClass('focus').keydown(function(){$(this).removeClass('focus')});
                $('#email').addClass('focus').keydown(function(){$(this).removeClass('focus')});
            }
            //$('#pass').val(confData.password || '');

            var backend = confData.proxy_cache_backend || 'Disabled';
            if (backend == 'Memcached' || backend == 'memcached') {
                $('#memcached_set').show();
                $('#cache_engine').val('Memcached');
                $('.select:nth-child(2)').text('Memcached');
            }
            if (backend == 'Redis' || backend == 'redis') {
                $('#redis_set').show();
                $('#cache_engine').val('Redis');
                $('.select:nth-child(2)').text('Redis');
            }

            $('#end_point').val(data.proxy_cache_endpoints || '');
            $('#host').val(data.proxy_cache_redis_host || '');
            $('#port').val(data.proxy_cache_redis_port || '');
            $('#dbid').val(data.proxy_cache_redis_db || '0');
            $('#rpass').val(data.proxy_cache_redis_password || '');
        })

        $('select').change(function(){
            if (this.value == 'Memcached') {
                $('#redis_set').hide();
                $('#memcached_set').fadeIn();

            }else if (this.value == 'Redis'){
                $('#memcached_set').hide();
                $('#redis_set').fadeIn();
            }else {
                $('#memcached_set').hide();
                $('#redis_set').hide();
            }
            $('.greenBtn').removeClass('disabled');
        })

        $('.contentWrapper input').keydown(function(){
            $('.greenBtn').removeClass('disabled');
            $('#statusLabel').fadeOut();
        });

        $('#enable_cloudwatch').click(function(){
            $('.greenBtn').removeClass('disabled');
            $('#statusLabel').fadeOut();
        });

        var formParams = {}, validationErr = false;
        $('.greenBtn').click(function() {
            formParams = {};
            validationErr = false;
            $('input,select').each(function() {
                var inputVal;
                if ($(this).is(':visible')) {
                    if ($(this).hasClass('required') && $.trim(this.value).length === 0) {
                        validationErr = true;
                        $(this).focus().addClass('valEmpty').keydown(function(){$(this).removeClass('valEmpty')});
                    }else {
                        formParams[this.name] = (this.type != 'checkbox')? $.trim(this.value) : this.checked;
                    }
                }
             });

            if (!validationErr) {
                var jsonData = {};
                if (formParams.name != confData.name) jsonData.name = formParams.name || '';
                if (formParams.email != confData.email) jsonData.email = formParams.email || '';
                //if (formParams.pass != confData.password) jsonData.password = formParams.pass || '';
                jsonData.enable_cloudwatch = $("#enable_cloudwatch").prop('checked');

                if (formParams.cache_engine == 'Disabled' &&
                        formParams.cache_engine != confData.proxy_cache_backend) {
                    jsonData.proxy_cache_backend = 'Disabled';
                }else if (formParams.cache_engine == 'Memcached') {
                    if (formParams.cache_engine != confData.proxy_cache_backend ||
                            confData.proxy_cache_endpoints != formParams.end_point) {
                        jsonData.proxy_cache_backend = 'Memcached';
                        jsonData.proxy_cache_endpoints = formParams.end_point;
                    }
                }else if (formParams.cache_engine == 'Redis') {
                    if (formParams.cache_engine != confData.proxy_cache_backend ||
                            confData.proxy_cache_redis_host != formParams.host ||
                            confData.proxy_cache_redis_port != formParams.port ||
                            confData.proxy_cache_redis_db != formParams.dbid ||
                            confData.proxy_cache_redis_password != formParams.rpass) {
                        jsonData.proxy_cache_backend = 'Redis';
                        jsonData.proxy_cache_redis_host = formParams.host;
                        jsonData.proxy_cache_redis_port = formParams.port;
                        jsonData.proxy_cache_redis_db = formParams.dbid;
                        jsonData.proxy_cache_redis_password = formParams.rpass;
                    }
                }
                var postData = [];
                $.each( jsonData, function( key, val ) {
                    postData.push({key: key, value: val});
                });
                $.ajax('/api/v1/config', {
                    data : JSON.stringify(postData),
                    contentType : 'application/json',
                    type : 'POST'})
                .done(function() {
                    $('.greenBtn').addClass('disabled');
                    $('#statusLabel').attr('class', 'info').text('successfully updated').fadeIn();
                    if (formParams.name && formParams.email) {
                        $('.notification').fadeOut();
                    }else {
                        $('.notification').addClass('red').text('Your server is not registered').fadeIn();
                    }
                    $.getJSON('/api/v1/config', function(data) {
                        confData = data;
                        if (confData.restart_required == "True") {
                            $('.notification').addClass('red').text('Server restart required').fadeIn();
                            $('.orangeBtn').fadeIn();
                        }else if (confData.update_available == "True") {
                            $('.notification').removeClass('red').text('JPEGmini update available').fadeIn();
                            $('.purpleBtn').fadeIn();
                        }
                    })
                })
                .fail(function() {
                    $('#statusLabel').attr('class', 'error').text('error updating settings').fadeIn();
                })
            }else {
                $('#statusLabel').attr('class', 'error').text('Please fill all missing fields').fadeIn();
            }
        })

        $('.orangeBtn').click(function() {
            $.post('/api/v1/restart', function() {
                $('.notification').hide();
                $('.orangeBtn').fadeOut();
            })
        })

        $('.purpleBtn').click(function() {
            $.post('/api/v1/update', function() {
                $('.notification').hide();
                $('.purpleBtn').fadeOut();
            })
        })

        // select element styling
        $('select.select').each(function(){
            var title = $(this).attr('title');
            if ($('option:selected', this).val() != '') title = $('option:selected',this).text();
            $(this).css({'z-index':10,'opacity':0,'-khtml-appearance':'none'})
                .after('<span class="select">' + title + '</span>').change(function(){
                    val = $('option:selected',this).text();
                $(this).next().text(val);
            }).parent().css('position', 'relative')
         });
    })
</script>
{% endblock %}
