@red: rgb(242,62,34);
@content_width: 940px;
@page_pad: 20px;

@spr_form: "../img/spr_form.png";
@spr_common: "../img/spr_common.png";
.spr_form(@x:0, @y:0, @color: transparent) {
    background: @color url(@spr_form) no-repeat @x @y;
}
.spr_common(@x:0, @y:0, @color: transparent) {
    background: @color url(@spr_common) no-repeat @x @y;
}

body {
    margin: 0;
    border-top: 5px solid @red;
    background-color: rgb(25,22,32);
    min-width: @content_width + @page_pad*2;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;

    header {
        width: @content_width;
        margin: 0 auto;
        margin-bottom: 35px;
        padding: 0 @page_pad;

        #logo {
            width: 180px;
            height: 41px;
            background: url(../img/logo.png) no-repeat @red;
        }
    }

    #content {
        width: @content_width;
        margin: 0 auto;
        padding: 0 @page_pad 100px;
        color: white;

        h1 {
            font-size: 38px;
        }
        h5 {
            font-size: 90px;
            line-height: 150px;
            margin: 0;
        }
        a {
            text-decoration: none;
            cursor: pointer;
            color: inherit;
        }
        .homeTab {
            font-size: 20px;
            margin-right: 50px;
            float: left;
            font-size: 16px;
            font-weight: 600;
            line-height: 35px;

            &.active:after {
                position: relative;
                display: block;
                content: "";
                border-color: transparent transparent #fff transparent;
                border-style: solid;
                border-width: 8px;
                height:0;
                width:0;
                bottom: 0;
                left: 40%;
            }
        }
        .notification {
            display: none;
            width: 350px;
            line-height: 33px;
            color: rgb(231, 200, 95);
            border: 1px solid rgb(231, 200, 95);
            float: right;
            text-align: center;
            margin-top: 4px;
            margin-right: 15px;
            font-size: 16px;
            &.red {
                color: @red;
                border: 1px solid @red;
            }
        }
        .supportBtn {
            width: 120px;
            line-height: 34px;
            border-radius: 4px;
            float: right;
            font-weight: 300;
            font-size: 16px;
            background-color: rgb(16,150,231);
            text-align: center;
            margin-top: 4px;
            margin-bottom: 13px;
            .icon {
                width: 26px;
                height: 16px;
                display: inline-block;
                .spr_common(-5px,0);
            }
        }
        .detailsIcon {
            width: 25px;
            display: inline-block;
            height: 23px;
            vertical-align: bottom;
            .spr_common(0,-26px);
        }
        .contentWrapper {
            color: black;
            background-color: white;
            border-radius: 6px;
            padding: 20px 40px 100px;
            clear: both;
            h2 {
                margin: 20px 0;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;

                .tip {
                    font-size: 14px;
                    font-weight: normal;
                    color: rgb(149,149,149);
                    padding-left: 15px;
                }
            }
            .session {
                width: 411px;
                height: 209px;
                background-color: rgb(245,245,245);
                font-weight: 600;
                font-size: 18px;
                text-align: center;
                display: inline-block;
                padding-top: 20px;
                box-sizing: border-box;
                letter-spacing: 2px;
                &:nth-child(2) {margin-right: 33px;}

                .content {
                    font-size: 80px;
                    font-weight: bold;
                    line-height: 150px;
                }
            }
            .details {
                padding: 0 !important;
                li {
                    border-radius: 4px;
                    padding: 13px 17px 9px;
                    display: block;
                    margin: 5px 0;
                    .content {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 30px;
                    }
                }
                li:nth-child(odd) {
                    background-color: rgb(245,245,245);
                }
            }

            .menu {
                display: block;
                float: left;
                list-style-type: none;
                padding: 0;
                li {
                    font-size: 16px;
                    font-weight: 600;
                    color: rgb(17,17,17);
                    border-bottom: 1px solid rgb(225,225,225);
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    width: 145px;

                    a {
                        display: block;
                        font-size: 13px;
                        color: rgb(137,137,137);
                        width: 145px;
                        height: 23px;
                        line-height: 23px;
                        margin: 8px 0 8px -15px;
                        padding-left: 15px;
                        &:first-child {margin-top: 16px;}
                        &.active {
                            color: white;
                            background-color: rgb(0,191,243);
                        }
                    }
                }
            }
            .docContent {
                float: left;
                width: 660px;
                font-size: 13px;
                line-height: 22px;
                color: rgb(17,17,17);
                margin-left: 40px;

                h1 {
                    font-size: 24px;
                    font-weight: 600;
                }
                h2 {
                    font-size: 22px;
                    font-weight: 600;
                    margin-top: 50px
                }
                h3 {
                    font-size: 14px;
                    font-weight: bold;
                }
                ul,ol {
                    margin-top: 2em;
                    margin-bottom: 2em;
                    padding-left: 20px;
                    line-height: 25px;
                    li {
                        list-style-type: decimal;
                        img {margin-top: 10px;}
                    }
                }
                .cleanList {
                    ul {
                        padding-left: 0px;
                        li {list-style-type: none;}
                    }
                }
                p {
                    margin-top: 2em;
                    margin-bottom: 2em;
                }
                pre {
                    border: 1px solid rgb(230,230,230);
                    background-color: rgb(250,250,250);
                    margin-top: 2em;
                    margin-bottom: 2em;
                    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,Courier New,serif;
                    padding: 10px;
                    white-space: pre-wrap;
                }
                img {
                    max-width: 660px;
                    border: 1px solid rgb(230,230,230);
                    margin-bottom: 30px;
                }
                a {text-decoration: underline}
            }

            input[type="text"],input[type="email"],input[type="password"] {
                height: 52px;
                width: 633px;
                .spr_form(0, -90px);

                font-size: 18px;
                line-height: 30px;
                font-style: normal;
                font-weight: 600;
                font-family: 'Open Sans';
                color: #6B6B6B;

                margin-bottom: 8px;
                border: 0 !important;
                color: #575757;
                margin-bottom: 0px;
                margin-left: -5px;
                padding-top: 0;
                background-color: #FFFFFF;
                outline: 0;
                text-indent: 17px;
                &:focus {.spr_form(0, 0);outline: 0;}
                &.focus {.spr_form(0, 0);outline: 0;}
                &.valEmpty {.spr_form(0, -170px);}
                &:invalid {
                    outline: 0 !important;
                    box-shadow: none !important;
                }
            }

            #enable_cloudwatch_text {
                font-size: 18px;
                line-height: 30px;
                font-style: normal;
                font-weight: 600;
                font-family: 'Open Sans';
                color: #6B6B6B;
            }

            select.select,span.select {
                height: 40px !important;
                width: 300px !important;
                line-height: 40px;
                color: #575757;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                margin-bottom: 10px;
            }
            select.select {
                background-color: #f3f3f1;
                position: relative;
                z-index: 10;
            }
            span.select {
                position: absolute;
                float: left;
                bottom: 0;
                left: 0;
                text-indent: 10px;
                cursor: default;
                z-index: 1;
                .spr_form(0, -227px);
                box-shadow: 1px 2px 3px rgba(200, 200, 200, 0.7);
            }
            .greenBtn {
                margin-top: 30px;
                padding: 0 90px;
            }
            .orangeBtn,.purpleBtn {
                display: none;
                margin-top: 30px;
                margin-left: 30px;
                padding: 0 40px;
            }
            #statusLabel {
                display: none;
                width: 620px;
                line-height: 42px;
                margin: 15px auto;
                color: #ffffff;
                font-size: 14px;
                text-indent: 25px;
                border-radius: 4px;
                &.info {background-color: rgb(75, 206, 77);}
                &.error {background-color: rgb(242,110,80);}

            }
        }
    }
    .greenBtn,.orangeBtn,.purpleBtn {
        display: inline-block;
        background-color: #29c33e;
        background-color: rgb(41,195,62);
        box-shadow: 1px 1px 2px #bbb;
        margin-bottom: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        font-family: 'Open Sans';
        text-align: center;
        color: #ffffff !important;
        padding: 0 15px;
        line-height: 48px;
        border: 1px solid transparent;
        border-color: rgb(125,217,137) rgb(65,201,83) rgb(151,213,160);
        cursor: pointer;
        text-decoration: none;

        &:hover {
            transition: background-color .3s ease-in-out;
            -moz-transition: background-color .3s ease-in-out;
            -webkit-transition: background-color .3s ease-in-out;
            background-color: rgb(111,217,126);
        }
        &:active {background-color: rgb(111,217,126);}
        &.disabled {
            cursor: default;
            background-color: rgb(174, 181, 180);
            border-color: rgb(174, 181, 180);
            &:hover {background-color: rgb(174, 181, 180);}
            &:active {background-color: rgb(174, 181, 180);}
        }
    }
    .orangeBtn {
        background-color: rgb(245, 162, 49);
        border-color: rgb(245, 162, 49);
        &:hover {
            transition: background-color .3s ease-in-out;
            -moz-transition: background-color .3s ease-in-out;
            -webkit-transition: background-color .3s ease-in-out;
            background-color: rgba(245, 194, 49, 0.92);
        }
        &:active {background-color: rgba(245, 194, 49, 0.92);}
    }
    .purpleBtn {
        background-color: rgb(229, 218, 73);
        border-color: rgb(229, 218, 73);
        &:hover {
            transition: background-color .3s ease-in-out;
            -moz-transition: background-color .3s ease-in-out;
            -webkit-transition: background-color .3s ease-in-out;
            background-color: rgb(255, 243, 80);
        }
        &:active {background-color: rgb(255, 243, 80);}
    }
}

